<main id="main_content">
{{#header}}
    <header {{#attributes}} id="{{id}}" {{/attributes}} class="c_container">
        <h2 class="c_title">{{title}}</h2>
        {{#description}}
            <small class="c_description">{{.}}</small>
        {{/description}}
        {{#section}}
            <section {{#attributes}} id="{{id}}" {{/attributes}} class="s_container">
                <h3 class="s_title">{{subtitle}}</h3>
                {{#project}}
                <div {{#attributes}} id="{{id}}" {{/attributes}} class="p_container">
                    <h4 class="p_title">{{name}}</h4>
                    <p class="p_description">{{description}}</p>
                </div>
                {{/project}}
            </section>
        {{/section}}
    </header>
{{/header}}
</main>
